input{
	
  width: 80%;
  padding: 1px 2px;
  margin: 2%;
  box-sizing: border-box;
}

.form{
	margin-top: 5px;
	margin: 2%;
	 border: 0.1em inset hotpink;
}

.hidden{
	display: none;
}
label{
	padding: 4%;
}
select{
	width: 40%;
}

